---
layout: default
---

<style>
/* Make header navigation links have same bold weight, size, and color */
.site-title {
  font-weight: 600 !important;
  color: #000000 !important;
  font-size: 26px !important;
}
.site-nav .page-link {
  font-weight: 600 !important;
  color: #000000 !important;
  font-size: 26px !important;
  line-height: 54px !important;
}
</style>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>